body {
  border: box;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding: 10px;
  max-width: 700px;
  border: 3px solid #ff7043;
}

h1 {
  color: blueviolet;
  text-align: left;
  font-size: 28px;
  line-height: 45px;
  position: relative;
  left: 100px;
  top: 10px;
}
h2{
  color:#ff7043;
  text-align: right;
  font-size: 20;
  position:relative;
  right:100px;
  top:20px;
}
p {
  font-size: 20px;
  color: chocolate;
  text-align: right;
  position: relative;
  right: 120px;
  top: -20px;
}

#today {
  text-align: left;
  font-size: 35px;
  color: chartreuse;
  left: 200px;
  top: -25px;
}
#temperature {
  color: blueviolet;
  font-size: 48px;
  text-align: left;
  position: relative;
  left: 105px;
  top: 5px;

}

#city-form {
  text-align: right;
  position: relative;
  right: 100px;
  top: 30px;
}
.image {
  position: relative;
  left: 50px;
  top: 10px;
}
button {
  margin:0 auto;
  padding: 5px;
  font-size: 12px;
  text-align: right;
  position: fixed;
  right:650px;
  top: 20px;
  border-radius: 10px;
  border:1px solid #23100b;  
  cursor:pointer;
  background: #9088ed;
  box-shadow:  rgba(37, 39, 89, 0.08) 0px 5px 5px 0;;
}

button:hover{
  color:blueviolet;
  border: 1px solid rgb(11, 3, 18);
  background:rgb(122, 145, 98);
  } 
